body {
    background-color: #000000 !important;
    padding: 10px;
    text-align:center;
    transition: background-color .75s ease;
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
  }

  #title {
    font-family: "Norwester", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  .caption {
    font-family: "Norwester", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 1.5em;
    font-weight: normal !important;
    margin-top: 3px !important;
    margin-bottom: 0px;
  }
  #error
  {
    font-family: "Norwester", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-weight: normal !important;
    color: red !important;
    margin-bottom: 0px;
  }
  
  #success
  {
    font-family: "Norwester", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 1.1em;
    font-weight: normal !important;
    color: green !important;
    margin-bottom: 0px;
  }

  #unlink
  {
    font-family: "Norwester", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 1.1em;
    font-weight: normal !important;
    color: green !important;
    margin-bottom: 0px;
  }

  p
  {
    color: white !important;
  }
  .onboarding
  {
    font-family: sans-serif;
    border-top: solid white 1px;
    font-weight: 500;
    font-size: medium;
  }

  a
  {
    color:  white !important;
    cursor: pointer;
  }